@use "@/app/styles/variables.scss" as *;

.header {
  $this: &;

  align-items: center;
  display: flex;
  justify-content: center;
  height: $header-height;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100dvw;

  @media screen and (min-width: $screen-min-medium) {
    position: fixed;
  }
}
