@use "@/app/styles/variables.scss" as *;

.header {
  $this: &;

  align-items: center;
  display: flex;
  justify-content: center;
  height: $header-height;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100dvw;

  @media screen and (min-width: $screen-min-medium) {
    position: fixed;
  }

  button {
    font-size: 0.75rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    padding: $x-small;
    z-index: 10000;
    position: relative;
    letter-spacing: 0.125rem;
    color: $gray;
    border: none;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      font-weight: 600;
      color: $white;
      transform: scale(1.05);
    }
  }
}
