.project-card {
	width: 90dvw;
	height: max-content;
	flex-shrink: 0;
	box-sizing: border-box;
	transform: translate(200%, 7.5%);
	position: relative;
	padding: 0 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
	scroll-snap-align: center;
	overflow: hidden;

	.content {
		@media screen and (min-width: $screen-min-medium) {
			flex-direction: row;
		}
	}

	img {
		width: clamp(160px, 40dvw, 350px);
		height: auto;
		top: calc(2 * $header-height);

		@media screen and (min-width: $screen-large) {
			height: 50dvh;
			width: auto;
		}
	}

	.links {
		display: flex;
		justify-content: center;

		.dot {
			margin: 0 0.5rem;
		}
	}
}
