.button {
  &__scroll {
    position: absolute;
    font-size: 2rem;
    animation: oscillate 2s infinite;

    @media screen and (min-width: 1024px) {
      display: none;
    }

    &-down {
      top: 50%;
    }
  }
}
