.button {
  &__scroll {
    animation: oscillate 2s infinite;
    position: absolute;
    font-size: 2rem;

    @media screen and (min-width: $screen-min-medium) {
      display: none;
    }
  }

  &__translate {
    border-radius: 15px;
    font-size: 0.75rem;
    font-family: Oswald, sans-serif;
    padding: $x-small;

    &:hover {
      animation: blink 500ms;
      background-color: $gray;
      color: $black;
    }
  }
}
