.carousel {
  overflow-x: hidden;

  @media screen and (min-width: $screen-min-medium) and (max-width: $screen-max-medium) {
    margin: 0 auto;
  }

  &:first-child {
    height: 100%;
  }
  
  &__main {
    align-items: center;
    justify-content: center;
    display: flex;
    width: $width-full;
  }

  &__card {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $medium;
    position: relative;
    width: max-content;
    
    @media screen and (min-width: $screen-large) {
      width: $width-half;
    }

    &--content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $small;
      padding: 0 $large;

      @media screen and (min-width: $screen-min-medium) and (max-width: $screen-max-medium) {
        padding: 0 $xx-large;
      }
    }    

    &--top {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 90%;
    }

    &--title {
      margin: 0 auto;
      transform: translateX(12.5%);
    }

    &--image {
      width: $width-half;

      @media screen and (min-width: $screen-min-medium)  {
        height: $height-half;
        width: auto;
      }
    }

    &--links-container {
      display: flex;
      font-size: 0.75rem;
      gap: 1rem;
    }

    &--description {
      font-size: 0.75rem;
    }

    &--topics {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: $small;
      justify-content: center;
      margin: 0 $large;
  
      li {
        background-color: dimgray;
        border-radius: 50px;
        font-size: $x-small;
        padding: $xx-small $x-small;
      }
    }

    &--description {
      font-size: calc($xx-small + $x-small);
    }
  }

  &__buttons-container {
    align-items: center;
    background-color: unset;
    display: flex;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    width: calc($width-full - $x-large);
    
    @media screen and (min-width: $screen-min-medium) and (max-width: $screen-max-medium) {
      top: 45%;
      width: calc($width-full - (3 * $xx-large));
    }

    @media screen and (min-width: $screen-large) {
      top: 55%;
      width: calc($width-full - (5 * $xx-large));
    }

    span {
      display: none;
    }
  }
}