header {
  align-items: center;
  display: flex;
  justify-content: center;
  height: $header-height;
  padding: $medium;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100dvw;
  
  @media screen and (min-width: $screen-min-medium) {
    position: fixed;
  }

  .header {
    &__button {
      &--translate {
          background-color: $black;
          border-radius: 15px;
          font-size: 0.75rem;
          font-family: $font-family--button;
          padding: $x-small;
          z-index: 10000;
      
          &:hover {
            animation: blink 250ms;
          }
      }
    }
  }
}