header {
  padding-top: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;

  button {
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: Oswald, sans-serif;
    padding: 0.75rem;
  }
}