@use "@/app/styles/variables.scss" as *;

.about-me {
  font-size: 1rem;
  height: calc(75dvh - $header-height);
  line-height: 2.5rem;

  & > * {
			margin-bottom: 1.25rem;
  }

		span {
			transition: color 0.3s ease-in-out;
		}

  @media screen and (min-width: $screen-large) {
			max-width: 500px;
			height: fit-content;
			transform: translateY(-12.5%);
  }
}
