.language-toggle {
  color: var(--gray);
  opacity: .75;
  transition: 400ms;
}

.language-toggle:hover, .language-toggle:focus {
  color: var(--white);
  opacity: 1;
}

.pt::after {
  content: '🇧🇷';
}

.en::after {
  content: '🇺🇸';
}

.pt::after, .en::after {
  padding-left: 7.5px;
}