@use "@/app/styles/variables.scss" as *;

.intro {
  margin-top: $xx-small;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  height: calc(100dvh - $header-height);
  margin-top: calc(25dvh - $header-height);

  .paragraph {
    align-items: center;
    display: flex;
    grid-column: span 2 / span 2;
    justify-content: center;
  }

  .profile-picture {
    border-radius: 50%;
    border: solid calc($small / 7.5) $white;
    width: clamp(120px, 20vw, 175px);
  }

  &__greeting-message {
    transform: translateY(-25%);
  }

  @media screen and (min-width: $screen-large) {
    height: fit-content;
    margin-top: 0;
  }
}
