.project-card {
  align-items: center;
  border: solid 1px var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  width: calc(100vw - 35px);
}

.project-deploy::before {
  content: url('../../assets/rocket.svg');
}

.project-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.project-tags li {
  background-color: rgb(107, 107, 107);
  border-radius: 25px;
  font-size: 14px;
  padding: 5px;
}

.project-name, .project-deploy {
  align-items: center;
  display: flex;
  justify-content: center;
}

.project-name::before {
  content: url('../../assets/github-24.svg');
}

.project-name::before, .project-deploy::before {
  padding-right: 10px;
}