.hero {
	img.loaded {
		opacity: var(--image-opacity, 1);
		animation: fadeInImage 0.8s ease-in-out;
	}

	img {
		width: clamp(30dvw, 200px, 600px);
		height: auto;
	}
	@media screen and (min-width: $screen-large) {
		height: 50dvh;
		max-height: 450px;
		margin-top: 0;
		transform: translateY(-50%);
	}
}

@keyframes fadeInImage {
	from {
		opacity: 0.3;
		transform: scale(var(--image-scale, 0.5));
	}
	to {
		opacity: var(--image-opacity, 1);
		transform: scale(var(--image-scale, 1));
	}
}
