@use "@/app/styles/variables.scss" as *;

.home {
  margin: 0 2rem;

  @media screen and (min-width: 1024px) {
    align-items: center;
    display: grid;
    justify-content: space-between;
    margin: $header-height 4rem 0;
    height: calc(100vh - $header-height);
    grid-template-columns: repeat(2, 1fr);
  }
}
