.projects {
	width: 100%;
	height: calc(100dvh - (2 * $header-height));
	overflow: hidden;

	::-webkit-scrollbar {
		display: inline;
		width: 8px;
		background: $cyan;

		&-thumb {
			background: $gray;
			border-radius: 4px;
		}
	}

	h1 {
		position: absolute;
		top: $header-height;
		left: 50%;
		transform: translateX(-50%);
		z-index: 10;
		padding: 1rem 0;
		background-color: $black;
		width: 100%;
	}

	@media screen and (min-width: $screen-large) {
		padding: 0;
	}
}
