@import "../variables.scss";

.pages {

  &__home {
    margin-bottom: $x-large;

    > * {
      display: flex;
      align-items: center;
    }

    @media screen and (min-width: $screen-min-medium) {
      align-items: center;
      display: grid;
      grid-template-columns: 50% 50%;
      height: calc(100vh - $header-height);
    }
    
    @media screen and (min-width: $screen-large) {
      grid-template-columns: 35% 35%;
      justify-content: center;
    }

    main {
      background-image: url($hero-bg-img);
      background-position: center 50dvh;
      background-repeat: no-repeat;
      background-size: 70%;
      flex-direction: column;
      gap: 2.5rem;
      height: calc(100vh);
      margin-top: 3.5rem;
      position: relative;
      text-wrap: nowrap;

      @media screen and (min-width: $screen-min-medium) and (max-width: $screen-max-medium) {
        background-image: none;
        justify-content: center;
        transform: translateY(-10%);
      }

      @media screen and (min-width: $screen-large) {
        align-items: center;
        background-image: none;
        height: min-content;
        justify-content: center;
        margin-top: 0;
      }

      .scroll-button--down {
        @media screen and (min-width: $screen-min-medium) {
          display: none;
        }
      }
    }

    &--profile-picture {
      border-radius: 50%;
      width: $xx-large;
      
      @media screen and (min-width: $screen-large) {
        width: $xx-large;
      }
    }
    
    &--about-me {
      align-items: center;
      flex-direction: column;
      font-size: 0.75rem;
      height: calc(100vh - $header-height);
      justify-content: center;
      line-height: 2.5rem;
      padding: 0 2.5rem;
      position: relative;
      
      @media screen and (min-width: $screen-min-medium) and (max-width: $screen-max-medium) {
        transform: translateY(-7.5%);
        z-index: 1;
      }

    }

    &--scroll-button {
      z-index: 1000;
      &--down {
        @media screen and (min-width: $screen-max-medium) {
          display: none;
        }
      }

      &--up {
        @media screen and (min-width: $screen-min-medium) {
          display: none;
        }
      }

      &--timeline {
        @media screen and (min-width: $screen-min-medium) {
          left: 0;
        }
      }
    }

    &--greeting-message {
      align-items: center;
      display: grid;
      gap: $x-small;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(3, minmax(0, 1fr));
      margin-top: $xx-small;

      .typer {
        align-items: center;
        display: flex;
        justify-content: center;
        height: $medium;
        line-height: $medium;
        margin-left: $xx-small;
        text-wrap: nowrap;
      }

      .paragraph {
        align-items: center;
        display: flex;
        grid-column: span 2 / span 2;
        justify-content: center;
      }
    }

    &--timeline {
      grid-column: span 2 / span 2;
      justify-content: center;
      place-self: center;
    }
  }

  &__projects {
    main {
      margin-top: 3.5rem;

      @media screen and (min-width: $screen-large) {
        margin-top: 2.5rem;
      }
    }

    .link {
      &__return {
        font-size: 2rem;
        left: 2rem;
        position: absolute;
        top: 2rem;
        z-index: 10;
      }
    }
  }
}