@import "../variables.scss";

.pages {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

  &__home {
    > * {
      height: 100dvh;
      display: flex;
      align-items: center;
    }
    
    @media screen and (min-width: $large) {
      align-items: center;
      display: grid;
      grid-template-columns: 35% 35%;
      justify-content: center;
    }

      main {
        background-image: url($hero-bg-img);
        background-position: center 50dvh;
        background-repeat: no-repeat;
        background-size: 70%;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 3.5rem;
        position: relative;
        text-wrap: nowrap;

        @media screen and (min-width: $medium) and (max-width: 1023px) {
          background-position: center 75dvh;
          background-size: 50%;
          justify-content: center;
          margin-top: 0;
          transform: translateY(-7.5rem);
        }

        @media screen and (min-width: $large) {
          align-items: center;
          background-image: none;
          justify-content: center;
          transform: translateY(-10%);
        }
      }

      &--about-me {
        font-size: 0.75rem;
        gap: 5rem;
        justify-content: center;
        line-height: 2.5rem;
        padding: 0 2.5rem;
        position: relative;
      }
  }

  &__projects {
    .link {
      &__return {
        font-size: 2rem;
        left: 2rem;
        position: absolute;
        top: 2rem;
        z-index: 10;
      }
    }
  }
}