.links-container a {
  animation: zoomIn 1.125s linear;
  position: relative;
  transition: 250ms;
}

.links-container a:hover {
  transform: scale(1.25, 1.25);
}

.linkedin-link::before {
  content: url('../../assets/linkedin.svg')
}

.github-link::before {
  content: url('../../assets/github.svg')
}

.portfolio-link::before {
  content: url('../../assets/coding.svg')
}

.certificates-link::before {
  content: url('../../assets/certificate.svg')
}