.home--container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.lang-toggle input {
  display: none;
}

.lang-toggle {
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 7.5px 10px;
  transition: 500ms;
}

.lang-toggle:hover {
  transform: scale(1.125, 1.125);
  background-color: rgb(77, 77, 77);
}