.project-image {
  max-width: 350px;
  width: 40%;
}

.project-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-indicators {
  margin-bottom: 0;
}

.project-title {
  display: flex;
  justify-content: center;
}

.repo-link {
  background-color: white;
  border-radius: 50%;
  height: 24px;
  margin-right: 10px;
}

.repo-link::before {
  content: url('../../assets/github-icon.svg');
}

@media screen and (min-width: 768px) {
  .carousel {
    margin: 20px auto 0 auto;
    max-width: 75vw;
  }
}

@media screen and (min-width: 992px) {
  .carousel {
    margin: 20px auto 0 auto;
    max-width: 600px;
    width: 50%;
  }
}