* {
  margin: 0;
  padding: 0;
}

:root {
  --amarelo: #edaa25;
  --azul-marinho: #010221;
  --olive: #b7bf99;
  --teal: #0a7373;
  --terracota: #c43302;

  --fonte-titulo: 'Yeseva One', cursive;
  --fonte-subtitulo: 'Bebas Neue', cursive;
  --fonte-corpo: 'Crimson Pro', serif;
  --fonte-detalhes: 'Josefin Sans', sans-serif;
}