* {
  margin: 0;
  padding: 0;
}

:root {

  --light-blue: #C7E6EB;
  --dark-blue: #283649;
  --blue: #436573;
  --medium-blue: #436573;
  --lightest-gray: #c1c1c1;
  --coral: #CC6868;
  --pink: #EBC0D5;
  --white: #f8f8f2;
  --black: #000;
  --gray: #272729;
  --light-gray: #414141;

  --title-font: 'Anton', sans-serif;
  --subtitle-font: 'Playfair Display', serif;
  --text-font: 'Roboto', sans-serif;
  /* --subtitle-font: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Abril Fatface', cursive;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Playfair Display', serif; */

}

body {
  background-color: var(--black);
  color: var(--lightest-gray);
  user-select: none;
}

header {
  align-items: center;
  background-color: var(--light-gray);
  display: flex;
  height: 55px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

h1 {
  font: 300 1.5rem var(--title-font);
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

h2 {
  font: 400 1.125rem var( --subtitle-font);
  line-height: 40px;
  width: 85%;
}

#menu-btn {
  align-items: center;
  background-color: unset;
  border: none;
  display: flex;
  height: 100%;
  padding: 0 2rem 0 1rem;
}

#menu-btn::before {
  content: url(../img/icons8-menu-32.svg);
}

.menu-list {
  position: absolute;
  top: -100%;
  transition: 250ms;
}

ul {
  background-color: var(--light-gray);
  list-style: none;
  width: 35%;
}

a {
  text-decoration: none;
  color: inherit;
  padding-left: .75rem;
}

li {
  align-items: center;
  display: flex;
  font: 600 1.25rem var(--subtitle-font);
  padding: .5rem 0;
  padding-left: .75rem;
  transition: 250ms;
}

.github::before {
  content: url(../img/icons8-github-24.svg);
}

.linkedin::before {
  content: url(../img/icons8-linkedin-circled-24.svg);
}

.projects::before {
  content: url(../img/icons8-bookmark-24.svg);
}

.intro-container {
  align-items: center;
  background-image: url(../img/sl_0210121_40570_53.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

#profile-pic {
  border-radius: 50%;
  margin-top: 2rem;
  width: 65%;
}

.intro-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 90%;
}

.about-me-container {
  display: block;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
  width: 80%;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font: 1.75rem var(--subtitle-font);
}

p {
  font: 300 1.125rem var(--text-font);
  line-height: 50px;
  padding-bottom: 0.75rem;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem 0 2rem 0;
}

#cat-gif {
  width: 10%;
} 

.selected-item {
  color: var(--gray);
  background-color: var(--lightest-gray);
}





