* {
  margin: 0;
  padding: 0;
}

:root {

  --light-blue: #C7E6EB;
  --dark-blue: #283649;
  --blue: #436573;
  --medium-blue: #436573;
  --lightest-gray: #c1c1c1;
  --coral: #CC6868;
  --pink: #EBC0D5;
  --white: #f8f8f2;
  --black: #0c0c0c;
  --gray: #272729;
  --light-gray: #414141;

  --title-font: 'Anton', sans-serif;
  --subtitle-font: 'Playfair Display', serif;
  --text-font: 'Roboto', sans-serif;
}

/* LOADER */
#loader {
  transform: translateY(25%);
  width: 25%;
  z-index: 3;
}

.loader-container {
  align-items: center;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: 3;
}

/* BODY */
body {
  background-color: var(--black);
  color: var(--lightest-gray);
  user-select: none;
}

/* HEADER */
header {
  align-items: center;
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: auto 1fr;
  height: 55px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 3;
}

h1 {
  font: 300 1.5rem var(--title-font);
  display: block;
  justify-self: center;
  transform: translateX(-25%);
}

/* MENU AND MENU LIST */
#menu-btn {
  align-items: center;
  background-color: unset;
  border: none;
  display: flex;
  height: 100%;
  padding: 0 2rem 0 1rem;
}

.menu-list {
  background-color: var(--light-gray);
  list-style: none;
  position: fixed;
  top: -100%;
  transition: 250ms;
  /* width: 35%; */
  z-index: 1;
}

a {
  text-decoration: none;
  color: inherit;
  padding-left: .75rem;
}

li {
  align-items: center;
  display: flex;
  font: 600 1.25rem var(--subtitle-font);
  padding: .5rem 1rem .5rem .75rem;
  transition: 250ms;
}

.selected-item {
  color: var(--gray);
  background-color: var(--lightest-gray);
}

/* MENU ICONS */
#menu-btn::before {
  content: url(../img/menu-icon-36px.svg);
}

.github::before {
  content: url(../img/github-icon-24px.svg);
}

.linkedin::before {
  content: url(../img/linkedin-icon-24px.svg);
}

.projects::before {
  content: url(../img/projects-icon-24px.svg);
}

.home::before {
  content: url(../img/home-icon-24px.svg)
}

/* CONTAINERS */

/* INTRO CONTAINER */
h2 {
  font: 400 1.125rem var( --subtitle-font);
  line-height: 40px;
  width: 85%;
}

.intro-container, .project-container {
  align-items: center;
  background: url(../img/background-img.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  position: absolute;
  top: 55px;
}

.intro-container {
  height: 100vh;
}

#profile-pic {
  border-radius: 50%;
  margin-top: 2rem;
  width: 65%;
}

.intro-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 90%;
}

.degrade-effect {
  background: linear-gradient(to bottom, #0c0c0c15, #0c0c0c25, #0c0c0c30, #0c0c0c91, #0c0c0ce3, #0c0c0c);
  height: 30%;
  z-index: 0;
  width: 100%;
  position: absolute;
  top: calc(100% - 30%);
}

/* ABOUT ME CONTAINER */
.about-me-container {
  display: block;
  left: 50%;
  margin: 0 auto;
  padding: 1.5rem 0 1rem 0;
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
  width: 80%;
  z-index: 0;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font: 1.75rem var(--subtitle-font);
}

p {
  font: 300 1.125rem var(--text-font);
  line-height: 50px;
  padding-bottom: 0.75rem;
}

/* PROJECTS PAGE */
.project-item-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#project-img {
  padding: .5rem;
  width: 75%;
}

.project {
  align-items: center;
  display: flex;
  backdrop-filter: blur(10px);
  border-top: solid 2px var(--light-gray);
  border-right: solid 2px var(--light-gray);
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  margin: 1rem;
  padding: 1.5rem;
  position: relative;
  width: 80%;
}

h4 {
  font: 800 1.75rem var(--subtitle-font);
  padding-bottom: 1rem
}

.project p {
  font: 300 1.125rem var(--text-font);
  line-height: 30px;
}

.project a {
  font: 400 1.125rem var(--subtitle-font);
}