.intro-container {
  animation: slideFromTop 1.5s ease, fadeIn 1.75s ease-in-out;
  position: relative;
}

.intro-container img {
  border-radius: 50%;
}

.about-me-container {
  line-height: 2.25;
}
