section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 10px;
  position: relative;
  text-align: center;
}

.intro-container {
  animation: slideFromTop 1.5s ease, fadeIn 1.75s ease-in-out;
  position: relative;
}

.intro-container img {
  border-radius: 50%;
  max-width: 150px;
  margin: 35px 0;
}

.about-me-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  line-height: 2.25;
  padding: 0 25px;
}
