.projects-container {
	display: flex;
	justify-content: center;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	height: calc(100dvh - (2 * $header-height));

	/* Hide scrollbar for WebKit browsers */
	&::-webkit-scrollbar {
		display: none;
	}

	.scroll-next, .scroll-previous {
		transform: translateY(-50%);
		position: absolute;
		width: 30px;
		height: 30px;
		border: solid 1px $white;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 50%;
		border-radius: 50%;
		z-index: 10;
		cursor: pointer;
	}

	.scroll-next {
		right: 40px;
	}

	.scroll-previous {
		left: 40px;
	}
}
