.projects-container {
	display: flex;
	justify-content: center;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	height: calc(100dvh - (2 * $header-height));

	/* Hide scrollbar for WebKit browsers */
	&::-webkit-scrollbar {
		display: none;
	}
}
