.background-image--container {
  background: url('./assets/background-image.jpg') no-repeat center;
  background-size: 75%;
  height: 200px;
  position: absolute;
  top: 60%;
  width: 100%;
}

@keyframes slideFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(50%);
  }
  100% {
    transform: scale(100%);
  }
}