@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "./styles/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes oscillate-up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes oscillate-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.button__scroll-down {
  animation: oscillate-up 2s infinite;
}

.button__scroll-up {
  animation: oscillate-down 2s infinite;
}

* {
  background-color: $bg-color;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  background-image: url("../public/image__laptop.jpg");
  background-position: 0 50dvh;
  background-repeat: no-repeat;
  background-size: contain;
}

// .name {
//   background: linear-gradient(125deg, rgba(0,162,194,1) 0%, rgba(0,162,194,1) 30%, rgba(192,174,181,1) 50%, rgba(223,80,6,1) 70%, rgba(223,80,6,1) 100%);
//   -webkit-background-clip: text;
//   background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.icon__projects::before {
  content: url("../public/icons/coding.svg");
}

.icon__github::before {
  content: url("../public/icons/github.svg");
}

.icon__linkedin::before {
  content: url("../public/icons/linkedin.svg");
}

@media screen and (min-width: 768px) {
  main {
    background-image: none;
    justify-content: center;
    padding-bottom: 125px;
    text-wrap: nowrap;
  }

  .body {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .about-me__container {
    width: 50%;
  }

  .page__projects {
    margin: auto;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
