@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "./styles/variables.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

* {
  background-color: $bg-color;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

main {
  background-image: url("../public/image__laptop.jpg");
  background-position: 0 55dvh;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-family: "Nothing You Could Do", cursive;
}

@media screen and (min-width: 768px) {
  header {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  main {
    align-items: center;
    background-image: none;
    display: flex;
    justify-content: center;
    margin: auto 100px 25vh 50px;
    text-wrap: nowrap;
  }

  .body {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .about-me__container {
    width: 50%;
    margin-right: 50px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
